
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Створити запит:</h2>

    <a href="/create_question/">Створити запит</a>

    <h2>Читати iншi запити:</h2>

    {% for question in list_question %}
        <h4>Запитання {{ question.pk }}</h4>
        <a href="/question/{{ question.pk }}">{{ question.topic_question }}</a>
    {% endfor %}

</body>
</html>